.home2{
    background-color: #151515;
    color: white;
    padding-bottom: 100px;
}
.home2-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.home-p{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.home-p2{
    line-height: 10px;
}
.home-p2 p svg{
    width: 40px;
    height: 40px;
    background-color: #242424;
    padding: 10px;
}
.home3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
@media only screen and (min-width:420px) and (max-width:600px){
    .home3 img{
        width: 400px;
    }
}
@media only screen and (max-width:420px){
    .home3 img{
        width: 290px;
    }
}
   .custom-caption {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 200px;
  }
  .animate-caption {
    opacity: 0;
    transform: translate(-50%, -60%);
    animation: fadeSlideIn 1s ease-out 0.3s forwards;
  }
  
  @keyframes fadeSlideIn {
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }