.about4{
   padding-bottom: 80px;
   padding-top: 50px;
   background-color: #151515;
}
.about1{
    background-color: black;
    color: white;
    display: flex;
     gap:50px;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
}
.about1 img{
    width: 600px;
}
 .about2,.about3{
    width: 600px;
 }
  progress{
    margin-top: 10px;
    width: 599px;
    margin-bottom: 20px;
  }
  .about3{
    margin-right: 80px;
  }
  .percentage{
    float: right;
  }
  .about3 h3{
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 30px;
  }
  .about3 h6{
    text-transform: uppercase;
  }
  @media only screen and (max-width:728px){
   .about1 {
       flex-wrap: wrap;
   }
   .about1 img{
       width: 280px;
    }
   progress{
       width:80%;
    }
    .about2,.about3{
       width: 280px;
    }
 }
 @media only screen and (min-width:728px) and (max-width:951px){
   .about1 {
       flex-wrap: wrap;
   }
   .about1 img{
       width: 450px;
       margin-left: 20px;
   }
   progress{
       width: 449px;
    }
 }
 
 @media only screen and (min-width:951px) and (max-width:1056px){
   .about1 img{
       width: 450px;
       margin-left: 20px;
   }
   progress{
       width: 449px;
    }
 }
  @media only screen and (min-width:1056px) and (max-width:1375px){
   .about1 img{
       width: 500px;
   }
 }

  @media only screen and (min-width:1056px) and (max-width:1375px){
    .about1{
        gap:20px;
    }
     .about2,.about3{
        width: 500px;
     }
     progress{
        width: 499px;
        margin-bottom: 10px;
        margin-top: 5px;
     }
     .about3 h3{
        padding-bottom: 10px;
        font-size: 20px;
     }
     .about3 p {
        font-size: 13px;
     }
     .about3 span{
        font-size: 15px;
     }
     .about3{
        margin-right: 10px;
      }
  }


 

.uc{
   text-transform: uppercase;
}
