.login{
    background: url(https://img.freepik.com/free-vector/wave-background-abstract-gradient-design_483537-3688.jpg?ga=GA1.1.1355325749.1750416159&semt=ais_hybrid&w=740);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 82vh;
}
.login input{
    color: white;
}